/**
 * Place your custom styles here.
 */
 body{
  /*background:url(../images/back.png);*/
 }
#edit-search-block-form--2{
  margin-right: 330px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #e3f2fd;
  color: black;
}
.hilight{
  background-color: #FEEA88;
}
.nav-firstblank{

width: 100%;
height:70px;
background-color: rgb(228, 228, 228);

}

.nav-first{
background-color: rgb(242, 242, 242);

border:none;
border-bottom: 1px solid rgb(228, 228, 228);

}

.nav-first  li{

  border-right: 1px solid rgb(228, 228, 228);

}
.navbar li a:link{

  border-left:2px solid rgb(228, 228, 228)
color: #000;

}
.navbar .nav > li > a:hover {

    color: #cc0000;
}
 .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
      color: #000;

 }
.navbar li a:visited{
color: rgb(128, 128, 128)
}


/*Secondary Bar Logo , Search , Cart Wish List Cart*/
.secondary li a:link{

color: #000;
background-color: transparent;
}
.secondary > .active > a,
.secondaryv > .active > a:hover,
.secondary > .active > a:focus {
      color: #000;

 }




.secondary > li > a:hover {

    color: #cc0000;
}

.whole{
 background-color: #eeeeee;
}
.second{
  background-color: white;

}
.cat{
  background-color: #f2f2f2;
  float: left;
  padding: 10px 10px 10px 10px;
}
.deals{
  float: right;
  margin-right: 10px;
  padding: 10px 40px 10px 10px;
}
.deals a{
  margin-left: 10px;
  color: black;
  text-decoration:none;
}
.deals a:hover{
  color: orange;

}
.cat a{
  margin-left: 20px;
  color: black;
  text-decoration: none;
}
.product-list {
  margin-top: 10px;

}
.product-list a{
  color: black;
}
.product-list a:hover{
  text-decoration: none;
  color: red;
}
.ali a{
  float: left;
  font-family: monospace;
  color: #ff9500;
  font-size: 30px;
  text-decoration: none;
}
.exp a{
  float: left;
  font-family: monospace;
  text-decoration: none;
  color: #f10000;
  font-size: 30px;
}
.ali&axp{
  overflow: hidden;
}
.logo-slogan{
  margin-left: 20px;
  float: left;
  color: gray;
  font-size: 10px;
}
.btn-primary{
  color:white;
  background-color: #e02d04;
}
.btn-primary:hover{
 background-color: #e02d04;
 color: black;
}
.container .jumbotron, .container-fluid .jumbotron {
    padding: 10px;
}
#header{
  padding: 10px 40px 10px 10px;
  background-color: #f8f8f8;
}
#header li{
  float: left;
  display: inline;
}
#header li a{
  color: black;
  display: inline;
}
#header li a:hover{
  color: orange;
  background-color: unset;
}
.back{
  background-color: #eeeeee;
}
#toopbar{
 padding: 10px 40px 10px 10px;
  background-color: #f2f2f2;
  border-bottom: solid;
}
#toopbar li{
  float: right;
  display: inline
}
#toopbar li a{
  display: inline;
  color: gray;
}
#toopbar li a:hover{
  color: #cc0000;
}

#sidebar-first li a{
  margin-top: -5px;
  margin-bottom: -5px;
  color: black;
}
#sidebar-first ul li:hover{
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}
#sidebar-first li a:hover{
    color: #cc0000;
    background-color: transparent;
}
#sidebar-first .dropdown-menu{
  display: none;
}
#sidebar-first ul li:hover .dropdown-menu{
  display: block;
  margin-top: -19%;
  margin-left: 60%;
}
#sidebar-first .caret{
    transform: rotate(-90deg);
}
.overflow{
  overflow: hidden;
}
.lfloat{
  float: left;
}
.rfloat{
  float: right;
}
.footericon{
  font-size: 70px;
  color: #5a7ea8;
  margin-left: 10%;
}
.footertext{
  text-align: left;
}
.footerfull{
  margin-right: 50px;
  color: gray;
}
.footer_2nd{
  margin-top: 40px;
}
.footer_2nd li a{
  color: gray;
  margin-top: -5px;
  margin-bottom: -5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.footer_2nd li a:hover{
  background-color: transparent;
  text-decoration: underline;
}
.sm_lnk{
  text-decoration: none;
}
.sm{
  font-size: 40px;
}
.fb{
 color: #334678;
}
.tw{
 color: #00a6ff;
}
.ig{
 color: #ee4678;
}
#edit-submit--3 {
  color: white;
  background-color: #f81d00;
  margin-top:-167px;
  margin-left: 200px;
}
.smb .block-title{
  font-size: 20px;
}
/*#block-user-login{
  display: none;
  background-color: black;
}
#show_li:hover ~ #block-user-login {
  display: block;
  color: blue;
  background: white;
}*/

