/**
 * Place your custom styles here.
 */
.logo img{
  height: 55px;
  width: 55px;
  margin-top: -10px;
  clear: both;
}
.navbar-header .name{
  margin: 0px;
}
#welcome{
  font-size: 20px;
  font-family: monospace;
  color: #86c441;
  margin: 20px,30px,20px,30px;
}
